table {
  width: 100%;
  height: 1000px;
}

table,
th,
td {
  border: 1px solid black;
  vertical-align: top;
}

.left {
  width: 200px;
}

.middle {}


.right {
  width: 300px;
}


@media (min-width: 600px) {

  table,
  th,
  td {
    overflow-x: auto;
    overflow-y: auto;
  }
}
