<table style="width: 100%;">
  <tbody>
    <tr>
      <td class="left">
        <input type="number" min="0" [(ngModel)]="_number"(change)="numberChange(_number)">
      </td>
      <td class="middle">
        <select [(ngModel)]="_select" class="form-control"  (change)="selectChange(_select)">
          <option disabled>Please Select</option>
          <option value="1">isPrime</option>
          <option value="2">isFibonacci</option>
      </select>
      </td>
      <td class="right">
        {{ _result }}
      </td>
    </tr>
  </tbody>
</table>
